.option{
    background-color: #81778b;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.4s;
    
}

.option:hover{
    opacity: 1;
}

#options-container .option p {
    margin-bottom: 0;
}

.correct {
    background-color: #14ac0f;
    font-weight: bold;
}

.wrong{
    background-color: #a01717;
    opacity: 0.4;

}
