#category {
    text-align: center;
    max-width: 500px;
  }
  
  #category h2,
  #category p {
    margin-bottom: 1rem;
  }
  
  #category p {
    color: #8435de;
  }
  
  #category img {
    margin-top: 2rem;
    max-width: 300px;
  }
  
  #category button {
    margin: 1rem;
  }


  #category {
    display: flex;
    flex-direction: row;
  }
  
  .category{
    background: none;
    border: none;
    
    
  }


  @media (min-width: 375px) and (max-width: 425px){

    #category {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-top: 10%;
      padding: 4%;
      }

      #category img {
        margin-top: 2rem;
        max-width: 400px;
      }

      .category{
        background: none;
      }

      .imgCategory{
        margin-bottom: -9%;
        width: 70px;
        height: 80px;
        
      }

      #categoryButtons{   
        align-items: center;
        justify-content: center;
        flex-direction: row;
      }

      .iimm{
        margin-top: -60%;
      }
  }