
#welcome{
    text-align: center;
    max-width: 500px;
}

#welcome h2,
#welcome p{
    margin-bottom: 1rem;
}

#welcome p {
    color: #8435de;
}

#welcome img{
    margin-top: 2rem;
}

#welcome small{
   color: #226b18;
   font-family: monospace;
   font-size: 23px;
}

